<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Contato</title>
	</head>
	<body>
		<table width="600px" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td><img src="%logo%"/></td>
			</tr>
			<tr>
				<td height="50" bgcolor="#3d4044"><font style="color:#FFF; font-family:Arial, Helvetica, sans-serif; font-size:20px;"><p style="margin:10px;">%subject%</p></font></td>
			</tr>
			<tr>
				<td height="20">
					<p style="margin:10px;"><font style="font-family:Arial, Helvetica, sans-serif; font-size:14px;"><b>Nome:</b></font> <font style="font-family:Arial, Helvetica, sans-serif; font-size:14px;">%nome%</font></p>
					<p style="margin:10px;"><font style="font-family:Arial, Helvetica, sans-serif; font-size:14px;"><b>E-mail:</b></font> <font style="font-family:Arial, Helvetica, sans-serif; font-size:14px;">%email%</font></p>
					<p style="margin:10px;"><font style="font-family:Arial, Helvetica, sans-serif; font-size:14px;"><b>Telefone:</b></font> <font style="font-family:Arial, Helvetica, sans-serif; font-size:14px;">%telefone%</font></p>
					<p style="margin:10px;"><font style="font-family:Arial, Helvetica, sans-serif; font-size:14px;"><b>CPF:</b></font> <font style="font-family:Arial, Helvetica, sans-serif; font-size:14px;">%cpf%</font></p>
					%content%
				</td>
			</tr>
			<tr>
				<td height="20"></td>
			</tr>
		</table>
	</body>
</html>
